* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    align-items: center;
}

.friends-list, .add-friend-form {
    height: 100%;
}

.friends-list {
    width: 50%;
    background: black;
    color: gainsboro;
}

.friends-list-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

#open-new-form-btn {
    margin-top: 5px;
}

.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#friends-table {
    width: 80%;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
  border-top: none;
}

.add-friend-form {
    width: 100%;
    color:gainsboro;
    background: rgb(15, 15, 15);
}

.new-friend-form {
    display: flex;
    flex-direction: column;
}

.button {
    cursor: pointer;
}

.input {
    display: flex;
}

.hide {
    display: none;
}